*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}
.white{
    color: white;
}
.uppercase, .content-big, .title-portfolio, .title-about, .title-contact-me, h4{
    text-transform: uppercase;
}

.content-big, .title-portfolio, .title-about, .title-contact-me{
    line-height: 3;
}

h1{
    font-weight: 600;
    font-size: 3rem;
}

h2{
    font-weight: 500;
    font-size: 2rem;
}

h3{
    font-weight: 400;
    font-size: 1.2rem;
}

.hr-white, .hr-black{
    opacity: 1;
    width: 150px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 18px;
}

.hr-white{
    border: 2px solid white;
}

.hr-black{
    border: 2px solid black;
}

/* HEADER */
#header, #bottom-footer{
    background-color: rgba(44,63,81,255);
}

.content-big, .title-about, .title-contact-me{
    margin: 20px 0;
}
.content-portfolio{
    margin: 15px 4px;
}
.content-header{
    font-weight: 600;
}

.nav-link-hover:hover{
    color: rgba(26,189,157,255);
}

.custom-border{
    border: 1px solid white;
}
/* JUMBOTRON */
#jumbotron{
    background-color: rgba(26,189,157,255);
}

.img-jumbo{
    width: 300px;
    margin-bottom: 1em;
}
/* PORTFOLIO */

.img-portfolio{
    width: 100%;
    border-radius: 15px;
}

.title-portfolio{
    margin-top: 20px;
}
/* ABOUT */
#about{
    background-color: rgba(26,189,157,255);
}

#download-icon:hover{
    color: black;
}

/* CONTACT ME */
input::placeholder, textarea::placeholder{
    color: rgba(53, 53, 53, 0.87);
    font-weight: 400;
}

#name, #email, #phone, textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(0, 0, 0, 0.158);
    width: 70%;
    padding: 15px 0;
}

textarea{
    color: rgba(53, 53, 53, 0.87);
    font-weight: 400;
}

#submit{
    margin-top: 20px;
    float: left;
    margin-left: 15%;
    background-color: rgba(26,189,157,255);
    border-color: white;
}
/* FOOTER */
#top-footer{
    background-color: rgba(59,84,108,255);
}
.icons-footer{
    font-size: 25px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    width: 55px;
    height: 55px;
    margin: 0 3px;
}

.link-green{
    text-decoration: none;
    color: rgba(26,189,157,255);
}
